sudo apt update
sudo apt install git mysql-client -y
git clone -b <branch-name> <git-url>
mysql -h ${rds-endpoint} -u ${dbuser} --password=${dbpass} accounts --ssl-mode=DISABLED < /home/ubuntu/<dir>/src/main/resources/db_backup.sql